*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	font: map-get($font-weights, 'regular') $fontSize map-get($font-families, 'Josefin Sans'), sans-serif;
	background: var(--color__secondary);
	line-height: 1.5;
	min-height: 100vh;
	transition: background 0.5s;
}

img {
	max-width: 100%;
}
button > img {
	pointer-events: none;
}

p {
	max-width: 75ch;
	margin-inline: auto;
	letter-spacing: 0.02em;
}

.drag {
	text-align: center;
	font-size: 80%;
	color: $color-very-dark-grayish-blue;
}

.container {
	width: clamp(16rem, 90vw, 34rem);
	margin: 0 auto;
	position: relative;
}

.is-visually-hidden {
	block-size: 1px;
	inline-size: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	clip: rect(0 0 0 0);
	-webkit-clip-path: inset(100%);
	clip-path: inset(100%);
}

.flex {
	display: flex;

	&-jc-sb {
		justify-content: space-between;
	}
	&-jc-se {
		justify-content: space-evenly;
	}
	&-jc-c {
		justify-content: center;
	}
	&-ai-c {
		align-items: center;
	}
	&-dir-c {
		flex-direction: column;
	}
}
