$fontSize: 16px;
// $font-families: (
// 	'Overpass': 'Overpass',
// 	'Ubuntu': 'Ubuntu',
// );

$font-weights: (
	'light': 300,
	'regular': 400,
	'medium': 500,
	'bold': 600,
	'bolder': 700,
);

$line-height: 100%;
