// Colors
// // Primary
$color-primary-bright-blue: hsl(220, 98%, 61%);
$color-linear-checkbox-blue: hsl(192, 100%, 67%);
$color-linear-checkbox-purple: hsl(280, 87%, 65%);

// //  Light Theme
$color-light-gray: hsl(0, 0%, 98%);
$color-very-light-grayish-blue: hsl(236, 33%, 92%);
$color-light-grayish-blue: hsl(233, 11%, 84%);
$color-dark-grayish-blue: hsl(236, 9%, 61%);
$color-very-dark-grayish-blue: hsl(235, 19%, 35%);

// // Dark Theme
$color-very-dark-blue: hsl(235, 21%, 11%);
$color-very-dark-d-blue: hsl(235, 24%, 19%);
$color-light-grayish-blue: hsl(234, 39%, 85%);
$color-light-grayish-blue-hover: hsl(236, 33%, 92%);
$color-dark-grayish-blue: hsl(234, 11%, 52%);
$color-very-dark-grayish-blue: hsl(233, 14%, 35%);
// - Very Dark Grayish Blue: hsl(237, 14%, 26%)

// Border Radius
$border-radius: 4px;

// Padding
$padding: 1em 1em;

.theme {
	--color__primary: #{$color-light-gray};
	--color__secondary: #{$color-very-light-grayish-blue};
	--color__text: #{$color-very-dark-grayish-blue};
	--color__text--options: #{$color-dark-grayish-blue};
	--color__border: #{$color-very-light-grayish-blue};

	// Tema oscuro;
	&--dark {
		--color__primary: #{$color-very-dark-d-blue};
		--color__secondary: #{$color-very-dark-blue};
		--color__text: #{$color-light-grayish-blue};
		--color__text--options: #{$color-light-grayish-blue};
		--color__border: #{$color-very-dark-grayish-blue};
	}
}
