.form {
	.container {
		display: flex;
		align-items: center;

		background: $color-light-gray;
		border-radius: $border-radius;
		padding: $padding;

		#todo {
			width: 100%;
			padding: 0.2em 0;
			border: 0;
			outline: none;
			background: $color-light-gray;
			margin-left: 0.2em;
		}
	}
}
