.form {
	.container {
		display: flex;
		align-items: center;

		background: var(--color__primary);
		border-radius: $border-radius;
		padding: $padding;

		#todo {
			width: 100%;
			padding: 0.2em 0;
			border: 0;
			outline: none;
			background: var(--color__primary);
			margin-left: 0.2em;
			color: var(--color__text);

			@include placeholder {
				color: var(--color__text);
			}
		}
	}
}
