.list {
	list-style: none;
	padding: 0;
	border-radius: $border-radius;

	&__item {
		display: grid;
		grid-template-columns: 1fr 10fr 1fr;
		gap: 0.2em;
		align-items: center;
		padding: $padding;
		font-size: 0.9rem;
		background: $color-light-gray;
		color: $color-very-dark-grayish-blue;
		border-bottom: 1px $color-very-light-grayish-blue solid;

		&:first-of-type {
			border-radius: 5px 5px 0px 0px;
		}

		// &:hover {
		// 	.delete-btn {
		// 		visibility: visible;
		// 	}
		// }
	}

	&__options {
		border-radius: 0px 0px 5px 5px;
		padding: $padding;
		background: $color-light-gray;
		color: $color-dark-grayish-blue;
	}

	.delete-btn {
		cursor: pointer;
		visibility: visible;
	}
}
